<!-- Describe task in general -->

<p><i>
    Это вторая миссия серии с лампочками. Я буду стараться немного усложнять каждую последующую задачу. 
</i></p>

<p>
    Ты уже научился считать продолжительность горения лампочки, или как долго помещение было освещено. Теперь добавим еще один параметр - время начала подсчета.
</p>

<p>Это значит, что лампочка продолжает включатся и выключатся, как и раньше. Но теперь, как результат работы функции, я хочу не просто знать, как долго было светло в комнате, а как долго комната была освещена, начиная с определенного момента.</p>

<p>Добавляется еще один аргумент – <pre>start_watching</pre>, и если он не передан, считаем, как и в предыдущей версии программы, за весь период.</p>

<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> Два аргумента и только первый обязательный. Первый – {% if is_js %}an array of Date objects{% else %}a list of datetime objects{% endif %} и второй – {% if is_js %}a Date object{% else %}a datetime object{% endif %}.
</p>

<p>
    <strong>Output: </strong> Количество секунд как integer. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>


{% if is_js %}
<pre class="brush: javascript">sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
],
new Date(2015, 1, 12, 10, 0, 5)) == 5

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
], new Date(2015, 1, 12, 10, 0, 0)) == 10

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 10, 10),
    new Date(2015, 1, 12, 11, 0, 0),
    new Date(2015, 1, 12, 11, 10, 10),
], new Date(2015, 1, 12, 11, 0, 0)) == 610
</pre>
{% else %}
<pre class="brush: python">sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 0, 10),
],
datetime(2015, 1, 12, 10, 0, 5)) == 5

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 0, 10),
], datetime(2015, 1, 12, 10, 0, 0)) == 10

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 10, 10),
    datetime(2015, 1, 12, 11, 0, 0),
    datetime(2015, 1, 12, 11, 10, 10),
], datetime(2015, 1, 12, 11, 0, 0)) == 610
</pre>
{% endif %}
</div>

<p>
    <strong>Предусловия:</strong>
</p>

<ul>
    <li><i>Массив нажатий на кнопку всегда отсортирован по возрастанию</i></li>
    <li><i>В массиве нажатий на кнопку нет повторяющихся элементов</i></li>
    <li><i>Количество элементов всегда четное число (это значит, что лампочка, в конце концов, будет выключена)</i></li>
    <li><i>Минимально возможная дата 1970-01-01</i></li>
    <li><i>Максимально возможная дата 9999-12-31</i></li>
</ul>
